@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-background-color: #0C1C3A;
    --header-color: #FFFFFF;
    --header-height: 60px;

    --sidebar-width: 270px;

    --color-primary: #2279FF;

    --font-size: 16px;
    --font-size-sm: 14px;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --border-radius: 4px;

    --html-min-width: 1280px;

    --body-background-color: #F9FAFC;
  }
}

html {
  min-width: var(--html-min-width);
}

body {
  background-color: var(--body-background-color);
}

div[role="tablist"] {
  margin-left: -8px;
  margin-right: -8px;
}

div[role="tabpanel"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
