@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-background-color: #0C1C3A;
    --header-color: #FFFFFF;
    --header-height: 60px;

    --color-primary: #2279FF;

    --font-size: 16px;
    --font-size-sm: 14px;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --border-radius: 4px;

    --html-min-width: 1280px;
  }
}

html {
  min-width: var(--html-min-width);
}
